{% extends 'bootstrap/base.html' %}

{% block title %}
Battleships API game
{% endblock %}


{% block content %}

<div class="container">
    <h3>Battleships API  - API docs</h3><br>

<h4>Check status of game and player</h4>

<p>
<b>Usage:</b>
/api/v0/status/[game_id]/[player_no]

for example:
https://bs.123craft.eu/api/v0/status/ugxoqlkdvl/p1
</p>

<p><b>Expected response:</b>

</p>

<h4>Shoot</h4>

<p><b>Usage:</b><br>
/api/v0/shoot/[game_id]/[player_key]/[player_id]/[row>]/[column]/[column]

for example:
https://bs.123craft.eu/api/v0/shoot/ugxoqlkdvl/ddffrgrggr/p1/3/4
</p>

<p>
    <b>Expected response:</b>

</p>
<a class="btn btn-primary" href="/" role="button">Back</a>
</div>
{% endblock %}