{% extends 'bootstrap/base.html' %}

{% block title %}
Battleships API game
{% endblock %}


{% block content %}

<meta http-equiv="refresh" content="3" >
<div class="container">
<h3>Battleships API game - status of game</h3><br>

<table>
    <tr>
        <td><b>Player 1 board</b>
            <small>( {{ p1_game_status[1] }} / {{ p1_game_status[0] }} ) </small>
            {% if player_active == "p1" %}
            <font color=red>(active player)</font>
            {% endif %}

        </td>

        <td width="50px"></td>
 
        <td><b>Player 2 board</b>
            <small>( {{ p2_game_status[1] }} / {{ p2_game_status[0] }} ) </small>
            {% if player_active == "p2" %}
            <font color=red>(active player)</font>
            {% endif %}

        </td>        
        <td width="50px"></td>
        <td>
            <b>Game status: 
            {% if game_status == "ended" %} 
                <font color=red> 
            {% else %}  
                <font color=green>
            {% endif %}
            {{ game_status }} </font></b>

            <small> ( number of shots: {{ no_of_shots }} ) </small><br>
        
        </td>
    </tr>

    <tr>
        <td>
            <table class="table table-bordered">
            {% for board_row in board_p1 %}
                {% include '_board.html' %}
            {% endfor %}
            </table>
        </td>

        <td></td>

        <td>
            <table class="table table-bordered">
            {% for board_row in board_p2 %}
                   {% include '_board.html' %}
            {% endfor %}
            </table>
        </td>

        <td></td>

        <td>
            <table class="table" >
            {% for log in logs %}
                {% include '_log.html' %}
            {% endfor %}
            </table>
        </td>
    
    </tr>
</table>

<a class="btn btn-primary" href="new-game" role="button">Start new game</a>
<a class="btn btn-primary" href="api-doc" role="button">API docs</a>
</div>


{% endblock %}
